<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="renderer" content="webkit">
<meta name="applicable-device" content="pc,mobile">
<title>[art:name] - [art:typename] - {maccms:name}</title>
<meta name="keywords" content="[art:name]高清图片,性感美女,美女写真,高清图片" />
<meta name="description" content="[art:name]高清手机电脑在线观看，{maccms:name}每天更新好看的性感美女图片" />
{maccms:include}
<link href="{maccms:path_tpl}css/style1.css" rel="stylesheet">
</head>
<body>
{maccms:head}
<div class="main">
	<h1 class="title">[art:textlink] </h1>

<div class="n-content xinwenneiye777">
<h1><span style='color:'>[art:name]</span></h1>
<p class="info clearfix"><span class="time">发布于：[art:time]</span><span class="qt">来源：电影8090（www.dy8090.com）</span></p>
<p class="des">
<!--/内容居中-->
<div style="text-align:center;">
	<b>
[art:content] 
</b>
</div>
<!--/内容居中-->
</p>
<p class="fy"></p><div class="more"><h1>相关文章：</h1>
<p><span>[art:prelink] </span> <span>[art:nextlink] </span></p></div>
</div>
</div>
<!--/底部-->
{maccms:foot}
</body>
</html>
