<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>求片留言- {maccms:name}</title>
<meta name="keywords" content="留言本- {maccms:name}" />
<meta name="description" content="留言本- {maccms:name}" />
{maccms:include}
</head>
<body>
{maccms:head}
<div class="main">
<div class='leaveNavInfo'><h3><span id='adminleaveword'></span>电影8090留言板、求片、片子报错！</h3></div>

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="alert alert-info cydy-contact" style="background-color: #4DBDA7;"><strong>欢迎提出您的宝贵意见 管理员QQ:10182760</strong></div>
    </div>
    <div class="col-md-6 col-sm-12 ">
      <div class="alert alert-success cydy-contact" style="background-color: #DA7825;"><strong> 喜欢哪部电影和我们说  我们让它上头条！</strong></div>
    </div>
    <div class="cl"></div>
  </div>
  <br>
  <style>
.row{padding:10px 0}
.col-md-6 {width: 50%;float: left;}	
	.cydy-contact{
	text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
	padding:15px;
    color: #fff;}
</style>  
<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js"></script>
<!-- UY END -->
</div>
{maccms:foot} 
<!--/Footer-->
</body>
</html>