<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="renderer" content="webkit">
<meta name="applicable-device" content="pc,mobile">
<title>电视在线直播 - {maccms:name}</title>
<meta name="keywords" content="电视在线直播,{maccms:name},手机在线播放" />
<meta name="description" content="留言本-最新电影,手机在线播放,伦理电影,吉吉,吉吉影音,吉吉影院,泥巴影音,好看的电影,好看的电视剧" />	
{maccms:include}
</head>
<body>
{maccms:head}

<div class="main">
<div class='leaveNavInfo'><h3><span id='adminleaveword'></span>M1938电影院电视直播</h3></div>
<!--直播开始-->

<iframe width="100%" height="600" src="http://tv.bingdou.net/live.html" frameborder=0 border=0 marginwidth=0 marginheight=0 scrolling='+s+'></iframe>


<!--<script>
var w = '100%'; //宽度
var h = '600'; //高度
var s = 'yes'; //是否显示滚动条，yes显示，no不显示
document.write('<iframe width='+w+' height='+h+' src="http://www.itv118.com/live.asp" frameborder=0 border=0 marginwidth=0 marginheight=0 scrolling='+s+'></iframe>');
</script>

<!--直播结束-->
</div>
<!--/底部-->
{maccms:foot}
<!--/禁止右键-->
<script type="text/javascript"> document.body.oncontextmenu=document.body.ondragstart= document.body.onselectstart=document.body.onbeforecopy=function(){return false;};
document.body.onselect=document.body.oncopy=document.body.onmouseup=function(){document.selection.empty();}; </script>
</body>
</html>
