<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<meta name="renderer" content="webkit">
<meta name="applicable-device" content="pc,mobile">
<title>全部数据-{seacms:sitename}</title>
<meta name="keywords" content="全部数据-{seacms:sitename}" />
<meta name="description" content="全部数据-{seacms:sitename}" />
{seacms:load inc.html} 
</head>
<body>
{seacms:top}
<div class="wrap">		
		{seacms:menulist by=news type=top}
			<div class="news-map mb clearfix">
			<div class="h2 clearfix"><a href="[menulist:link]" class="more">更多&gt;&gt;</a>[menulist:typename]</div>
			<div class="nmap">
				<ul>
				{seacms:newslist num=100 order=time type=[menulist:typeid]}
				<li><a href="[newslist:link]">[newslist:name]</a></li>
				{/seacms:newslist}			
				</ul>
			</div>
			</div>
        {/seacms:menulist}		
</div>
{seacms:foot}
</body>
</html>