<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<meta name="renderer" content="webkit">
<meta name="applicable-device" content="pc,mobile">
<title>正在播放 {playpage:name} {playpage:part}</title>
<meta name="Keywords" content="{playpage:name}{playpage:part}免费在线观看,{playpage:name}剧情介绍,{playpage:name}数据海报" />
<meta name="description" content="{playpage:name}{playpage:part}免费在线观看,{playpage:name}剧情介绍,{playpage:name}数据海报" />
<link href="images/style.css" rel="stylesheet">
<script>var sitePath='{seacms:sitepath}'</script>
<script src="/{seacms:sitepath}js/jquery-1.4.4.min.js"></script>
<script src="/{seacms:sitepath}js/common.js"></script>
<script src="/{seacms:sitepath}js/function.js"></script>
<script src="/js/jquery.lazyload.js"></script>
<link href="/favicon.ico" type="image/x-icon" rel="icon">
<link href="/favicon.ico" type="image/x-icon" rel="shortcut icon">
<script src="/{seacms:sitepath}js/play.js"></script>
<script>var playn='{playpage:name}', playp='{playpage:part}';</script>
<!--[if lt IE 9]>
<script src="/{seacms:sitepath}js/html5shiv.min.js"></script>
<script src="/{seacms:sitepath}js/respond.min.js"></script>
<![endif]-->
<base target="_self">
</head>
<body>
{playpage:playurlinfo}
{playpage:player}
</body>
</html>
